</div><!--End container-->
    <footer class="footer" data-reactid="76">
        <div class="container" data-reactid="77">
            <p class="text-muted" data-reactid="78">Нижавто. Услуги автовозов и эвакуаторов</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
</body>
</html>